//@navbar-height: 32px;
body {
  background: #ccc;
}
header.main {
  background: #025287;
  background: -moz-linear-gradient(top, #025287 0%, #3a8bc1 95%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #025287), color-stop(95%, #3a8bc1));
  background: -webkit-linear-gradient(top, #025287 0%, #3a8bc1 95%);
  background: -o-linear-gradient(top, #025287 0%, #3a8bc1 95%);
  background: -ms-linear-gradient(top, #025287 0%, #3a8bc1 95%);
  background: linear-gradient(to bottom, #025287 0%, #3a8bc1 95%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#025287', endColorstr='#3a8bc1', GradientType=0);

  border-bottom: 2px solid #fff;

    h1 {
      margin: 0;
      font-weight: bold;
      color: #FFF;
      font-size: 64px;

    }


    .navbar {
      margin: 0;
      min-height: 0;
      height: 18px;
        ul li:last-child a {
          border: none;
        }

      ul {
        li a {
          color: #FFF;
          padding: 0 14px;
          font-size: 14px;
          border-right: 1px solid #fff;
          line-height: 1em;
        }
        li a:hover {
          background: none;
          //text-decoration: underline;
        }
        li a:hover:after {
          content: '';
          display: block;
          position: absolute;
          margin: 0 0 0 50%;
          left: -16px;
          top: 20px;
          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-top: 18px solid #fff;
        }
      }

    }
  }


