@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);








//Content wrapper
.wrap {
}

//Main content area
.main {
  .featured {
    padding: 0;
  }

  .entry-content {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;

 }
}






//h1 {
  ////  font-family: 'Source Sans Pro', sans-serif;
  //  font-weight: bold;
  //  font-size: 80px;
  //
//}
//
