//Brand colors
// -------------------------
@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 82.7%); // #777
@gray-lighter:           lighten(#000, 93.5%); // #eee

@brand-primary:         #0E6AAB;
@brand-secondary:       #8ed0ff;
@brand-success:         #00aeef;
@brand-info:            #5FCCFF;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@link-color: #fff;
//@link-hover-color: darken(@brand-success, 90%);

@navbar-link-hover-color:  #00aeef;
//@navbarLinkColorHover: transparent;

@navbar-brand-hover-bg: transparent;
@navbar-toggle-hover-bg: transparent;




// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


// navba
@navbar-height: 20px;

//@navbar-default-link-hover-color: transparent;
//@navbar-default-link-active-bg: transparent;
//@navbar-default-link-active-color: transparent;


//@screen-xs:                  480px;
////** Deprecated `@screen-xs-min` as of v3.2.0
//@screen-xs-min:              @screen-xs;
////** Deprecated `@screen-phone` as of v3.0.1
//@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
//@screen-sm:                  480px;
//@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
//@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
//@screen-md:                  480px;
//@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
//@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
//@screen-lg:                  480px;
//@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
//@screen-lg-desktop:          @screen-lg-min;