.navbar {



  .nav {
    > li {
      a:focus,
      a:hover {
        background: transparent;
        //color: #333;
      }
    }



    .dropdown-menu {
//      display: block;
      border: none;
      background:rgba(255,255,255,0.6);

      li {
        a {
          color: #333;
        }
        a:hover,
        a:focus {
            color: #fff;
            background: #3A8BC1;
          }
      }


    }

  }

  ul#menu-main-nav,
  ul#menu-footer-navigation {

    > li {
      > a {
        color: #FFF;
      }
      a:after {
        content: '|';
        display: inline-block;
        position: relative;
        left: 15px;
      }


      a:focus:after,
      a:hover:after {
        color: #fff;
      }

    }

    li:last-child a:after {
      content: none;
    }
    
    
  li.active {
      > a {
        color: #333;
        font-weight: bold;
      }
      a:after {
        color: #fff;
      }
  }
      .dropdown-toggle {
        .caret {
          display: none;
        }
      }
  }



  ul#menu-main-nav {

        > li.active:after {
          content: '';
          display: block;
          position: absolute;
          margin: 1px 0 0 50%;
          left: -15px;
          height: 30px;
          width: 30px;
          background: url("../img/menu_tri.svg") transparent 0 0 no-repeat;
        }
  }





}


