// Brand colors
// -------------------------

//@brand-primary:         #fff;
@link-color: #fff;



// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


// navbar
@navbar-height: 28px;
//@navbar-default-link-hover-color: transparent;
//@navbar-default-link-active-bg: transparent;
//@navbar-default-link-active-color: transparent;